$light-blue: #e3f2fd;
$button-blue: #007bff;
$lt-prim: lighten(#007bff, 45%);


html, body, #root{
  background-image: linear-gradient($lt-prim, lighten($button-blue, 20%));
  height: 100%;
  background-attachment: fixed;
}

input{
    margin: 10px;
}

p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h1{
  text-align: center;
  margin: 1em;
}

h2{
  text-align: center;
  margin: 1em;
}

#logout {
  margin-left: auto;
}

#logout-button{
  justify-self: flex-end;
}

//signup page
#signup-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button{
    margin-bottom: 3em;
  }
}

// Dashboard page
#dashboardComponent{
  margin: 2em;

  p{
    text-align: center;
  }
}

#calendar-div{
    display: flex;
    justify-content: space-around;
}

//new event modal
#new-event{
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.modal-header{
  width: 100%;
}

.modal-form-open{
  width: 100%;
}

#thread-modal-button{
  align-self: center;
}

#new-thread-form{
  display: flex;
  flex-direction: column;
}

#modal-close-button{
  border: none;
  background-color: transparent;
}

.submitted-form-msg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//upcoming events
#upcoming-events-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#thread-card-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 50px;
}



//calendar events
#selected-day-events{
  display: flex;
  flex-direction: column;
  width: 25vw;
}

//login page
#login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

    button{
      margin-top: 20px;
      margin-bottom: 20px;
    }
}

.login-input{
  width: 40vw;
  min-width: 300px;
}

//thread display page
.thread-page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thread-page-header{
  display: flex;
  align-items: center;
  justify-content: center;
}

#delete-thread-button{
  margin-top: 10px;
}

#thread-container{
  min-width: 60%;
  padding: 10px;
}

.post{
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5px;

  strong{
    margin-right: 20px;
  }
}

.post-header{
  display: flex;
}

.thread-card{
  margin: 5px;
  text-align: left;
}

.reply-box{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.reply-input{
  border-radius: 5px;
}

.post-buttons{
  display: flex;
  justify-content: flex-end;
}

.post-reply-button{
  padding: 2px 10px !important;
  margin-top: 10px;
  margin-left: 10px;
}

//user info modal
.modal-content{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.map{
  margin: 10px;
  height: 300px;
  width: 80%;
}

//react-calendar styling
.react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  }
  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }

  //styling for indiv boxes in calendar
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.2em;
    background: none;
  }
  
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__tile--now {
    background: $lt-prim;
    border-radius: 50%;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  }
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
    border-radius: 50%;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1087ff;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  